{% load staticfiles %}
<!DOCTYPE html>
	<head>
		<title>Daynesh's Fantasy Football Portal</title>
		<link rel="stylesheet" type="text/css" href="{%static 'styles.css' %}">
	</head>
	<body>
		<div id="mainContent">
			<h1>Football Fantasy Stats</h1>
			<hr>
			<div id="bannerSection">
				<img src="{% static 'footballBanner.gif' %}" id="banner">
			</div>
			<hr>
			<div id="searchSection">
				<form action="" method="get">
					<label id="searchLabel" for="playerinput">Search for player by name:</label>
					<input id="playerinput" type="text" name="player">
					<input type="submit" value="Search">
				</form>
			</div>
			<hr>
			</div id="statsSection">
				<!-- Show Top 25 Trending fantasy scorers by default-->
				<!-- Unless a user searched for a specific player or team -->
			</div>
		</div>
	</body>
</html>
